@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none; 
    transition: .2s linear;
    list-style: none;
}


/* CUSTOM SCROLL */

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;

}

html::-webkit-scrollbar-thumb{
    background: rgb(40, 41, 41);
    border-radius: 5rem;
}
/*Scroll Javascript*/
header.sticky{
    background:rgba(250, 250, 250, 0.87);
    box-shadow:0 .30rem 1.25rem rgba(0, 0, 0, 0.356);
}

header.sticky nav a{
    color: #000;
}
header.sticky .logo{
    color: #000;
    opacity: .8;
}


/* HEADER CUSTOM */
.header{
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: .1rem solid rgba(110, 110, 110, 0.3);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}
.header nav a{
    margin:0 2rem;
    font-size: 1.5rem;
    color:#fff;
}

.header .logo span{
    color: #0ae9e1;
}
.header .logo{
    color: #fff;
    font-size: 2.3rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.header nav a:hover{
    color:#0ae9e1;}



/* HOME CUSTOM */
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../Travel-to-your-place/img4.jpg) no-repeat;
    background-size: cover;
    background-position: center;  
}
.home .content{
    max-width: 80rem;
}

.home .content h1{
    font-size: 6rem;
    color: #fff;
}

.home .content p{
    font-size: 3rem;
    padding:2rem 0;
    color:#fff;
    font-weight: lighter;
}

/*CUSTOM BTN*/
.box-btn{
    display: flex;
    justify-content: center;
}
.box-btn button{
    padding: .8rem 2.2rem;
    background: #fff;
    font-size: 1.5rem;
    color:rgb(26, 25, 25);
    cursor: pointer;
    border-radius: 1.5rem;
}
.box-btn button:hover{
    color: #fff;
    background:#0ae9e1;
    transform: scale(1.1);
}


/* CUSTOM PLACES*/

.places {
    background: rgba(233, 233, 233, 0.877);
  }
.places .container{
    display: flex;
  }

.places .container .image {
    max-width: 50rem;
    margin: 3rem 5rem;
  }

.places .container .image img{
    width: 100%;
    box-shadow: 34px 26px 0px 3px rgba(0,0,0,0.11);
}

.container .box-text{
    font-size: 2rem;
    color:#000;
    margin: 0 2rem;
}
.container .box-text h3{
    font-size: 3rem;
    margin-top: 8rem;
    color: #222424e3;
}


.container .box-text p{
    font-size: 1.6rem;
    margin-top: 5rem;
}

/* CUSTOM ABOUT */
.title{
    display: flex;
    margin: 2rem;
    font-size: 2.2rem;
    justify-content: center;
    color: #222424e3;
}
.about .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    gap: 1.5rem;
    justify-content: center;
  }
  

.about .box-container .box {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
  }
  .about .box-container .box:hover {
    box-shadow: rgb(10, 233, 225) 0px 20px 30px -10px;
    transform: scale(1.1);

  }
  
.about .box-container .box img {
    width: 12rem;
    margin-bottom: 1rem;
  }
  .about .box-container .box img:hover {
    transform: translateY(0.5rem);
}


.about .box-container .box h3 {
    font-size: 2rem;
  }
  
.about .box-container .box p {
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 2;
  }


.review-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0 5rem;

}

.reviews .title-review{
    display: flex;
    justify-content: center;

    font-size: 2.5rem;
    color: #222424e3;
    margin: 2rem 0;

}

.review-box {
    width: 30rem;
    padding: 2rem;
    font-size: 1.5rem;
    background: #eee;
    border-radius: .5rem;
    color: #10221b;
    line-height: 2;
    margin-bottom: 3rem;
  
  }
  

  
.reviews .review-user {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
.reviews .review-user img {
    height: 7rem;
    width: 7rem;
  }
  
.reviews .review-user h3 {
    font-size: 2rem;
    color: #10221b;
  }
  
.reviews .review-user span {
    color: #0ae9e1;
    font-size: 1.5rem;
  }
