@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none; 
    transition: .2s linear;
    list-style: none;
}


/* CUSTOM SCROLL */

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;

}

html::-webkit-scrollbar-thumb{
    background: rgb(40, 41, 41);
    border-radius: 5rem;
}
/*Scroll Javascript*/

header.sticky{
    background:rgba(250, 250, 250, 0.87);
    box-shadow:0 .30rem 1.25rem rgba(0, 0, 0, 0.356);
}

header.sticky nav a{
    color: #000;
}
header.sticky .logo{
    color: #000;
    opacity: .8;
}


/* HEADER CUSTOM */
.header{
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: .1rem solid rgba(110, 110, 110, 0.3);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}
.header nav a{
    margin:0 2rem;
    font-size: 1.5rem;
    color:#fff;
}

.header .logo span{
    color: #0ae9e1;
}
.header .logo{
    color: #fff;
    font-size: 2.3rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.header nav a:hover{
    color:#0ae9e1;}



/* HOME CUSTOM */
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../Travel-to-your-place/img4.jpg) no-repeat;
    background-size: cover;
    background-position: center;  
}
.home .content{
    max-width: 80rem;
}

.home .content h1{
    font-size: 6rem;
    color: #fff;
}

.home .content p{
    font-size: 3rem;
    padding:2rem 0;
    color:#fff;
    font-weight: lighter;
}

/*CUSTOM BTN HOME*/
.box-btn{
    display: flex;
    justify-content: center;
}
.box-btn button{
    padding: .8rem 2.2rem;
    background: #fff;
    font-size: 1.5rem;
    color:rgb(26, 25, 25);
    cursor: pointer;
    border-radius: 1.5rem;
}
.box-btn button:hover{
    color: #fff;
    background:#0ae9e1;
    transform: scale(1.1);
}


/* CUSTOM PLACES*/

.places {
    background: rgba(233, 233, 233, 0.877);
  }
.places .container{
    display: flex;
  }

.places .container .image {
    max-width: 50rem;
    margin: 3rem 5rem;
  }

.places .container .image img{
    width: 100%;
    box-shadow: 34px 26px 0px 3px rgba(0,0,0,0.11);
}

.container .box-text{
    font-size: 2rem;
    color:#000;
    margin: 0 2rem;
}
.container .box-text h3{
    font-size: 3rem;
    margin-top: 8rem;
    color: #222424e3;
}


.container .box-text p{
    font-size: 1.6rem;
    margin-top: 5rem;
}

/* CUSTOM TITLE */
.title{
    display: flex;
    margin: 2rem;
    font-size: 2.2rem;
    justify-content: center;
    color: #222424e3;
}

/* CUSTOM ABOUT */

.about .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    gap: 1.5rem;
    justify-content: center;
  }
  

.about .box-container .box {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
  }
.about .box-container .box:hover {
    box-shadow: rgb(11, 104, 101) 0rem 2rem 4rem -.6rem;
    transform: scale(1.1);
  }
  
.about .box-container .box img {
    width: 12rem;
    margin-bottom: 1rem;
  }

.about .box-container .box img:hover {
    transform: translateY(0.5rem);
}

.about .box-container .box h3 {
    font-size: 2rem;
  }
  
.about .box-container .box p {
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 2;
  }


/* CUSTOM REVIEWS */
.review-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0 5rem;

}

.review-box {
    width: 30rem;
    padding: 2rem;
    font-size: 1.5rem;
    background: #eee;
    border-radius: .5rem;
    line-height: 2;
    margin-bottom: 3rem;
  }

.reviews .review-user {
    display: flex;
    align-items: center;
    gap: 1rem;
}
  
.reviews .review-user img {
    height: 7rem;
    width: 7rem;
}
  
.reviews .review-user h3 {
    font-size: 2rem;

}
  
.reviews .review-user span {
    color: #0ae9e1;
    font-size: 1.5rem;
}

/* CUSTOM PACKAGES */
.packages .packages-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.8rem;

}

.packages .packages-items .card{
    object-fit: cover;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(116, 116, 116) 10px 20px 30px -10px;
    border-radius: .8rem;
    border-bottom: rgba(8, 87, 84, 0.808) .2rem solid; 
   
}

.packages .packages-items .card img{
    width: 20rem;
    height: 15rem;
    border-radius: 1rem;
    margin-top: 2rem;
}

.packages .packages-items .card h3{
    color:#222424e3;
    font-size: 2rem;
    padding:1rem 0;
}

.packages .packages-items .card h2{
    font-size: 1.6rem;
    color:#0aa8a3;
}

.packages .packages-items .card .detail{
    line-height: 1.5;
    font-size: 1.5rem;
    padding: 1.5rem 0;
}

.packages .packages-items .card .btn{
        margin-top: 2rem;
        margin-bottom: 3rem; 
}

.packages .packages-items .card a{
    padding: .6rem 2rem;
    background: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    color:#222424e3;
    cursor: pointer;
    border: #222424b0 .1rem solid;
    border-radius: 1rem;
}

.packages .packages-items .card .btn a:hover{
        color: #fff;
        background: #222424e3;
}

.packages .packages-items .card img:hover {
      transform: scale(1.1);
}

/* CUSTOM CONTACT */

.contact{
    margin-bottom: 5rem;
}
.container-form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.contact .container-form form{
    width:  30rem;
    height: 40rem;
    padding: 1.3rem 2rem;
    background: #eee;
    box-shadow: rgb(11, 104, 101) 0rem 2rem 4rem -.6rem;
    border-radius: .8rem;
}

.contact .container-form form h2{
    color: #222424e3;
    font-size: 3rem;
    width: 18rem;
    margin: 2rem 0;
    padding-bottom: 2rem;
    border-bottom: #222424e3 .5rem solid;
}
.contact .container-form form p{
    color: #222424e3;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.contact .container-form .inputbox input{
    width: 100%;
    padding: 1rem;
    margin-bottom: .6rem;
    border-bottom:2px solid #2224247e;
}

.contact .container-form .inputbox input:focus{
    border-bottom:2px solid #222424b0
}

.contact .container-form .send{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    border: #222424b0 .1rem solid;
    color:#222424e3;
}
.contact .container-form .send:hover{
    color: #fff;
    background: #222424e3;
}

.contact .container-form .info{
    display: flex;
    background:#222424d7;
    color:#fff;
    width: 30rem;
    margin: 3rem 0;
    padding: 1.2rem 1rem;
    border-radius: .8rem;
    font-size: 1.2rem;
}

.contact .container-form .info span{
    margin:0 1rem;
}
